<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <session-config>   <!--分钟为单位-->
        <session-timeout>5</session-timeout>
    </session-config>
<!--    <servlet>-->
<!--        <servlet-name>Receive</servlet-name>-->
<!--        <servlet-class>Receive</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>Receive</servlet-name>-->
<!--        <url-pattern>/Receive</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    <servlet>-->
<!--        <servlet-name>input</servlet-name>-->
<!--        <servlet-class>input</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>input</servlet-name>-->
<!--        <url-pattern>/input</url-pattern>-->
<!--    </servlet-mapping>-->
</web-app>
